<!DOCTYPE html>
<html lang="en">

{% load static %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
        <style>
        

            #identifier {
                padding-top: 60px;
                margin-left: 380px;
            }
            .top-screen {
                background-color: rgb(202, 43, 75);
                padding-left: 0%;
                padding-top: 0%;
                padding-right: 0%;
                background-size: 100%;
                height: 135px;
            }

            #home .imagur img {
                margin-left: 150px;
                margin-top: -90px;
                border-radius: 50%;
                height: 190px;
                width: 190px;
                object-position: 0 -4px;
                object-fit: cover;

            }
            a, u {
                text-decoration: none;
            }

        

            #navbar{
                margin-left: 360px;
                margin-top: -100px;
            }


        </style>
        <title>Hello</title>
    </head>
    <body>
        <div id="home">
            <div class="top-screen">
                <div id="identifier">
                    <a href="http://story1matt.herokuapp.com/" style="color: black;"><h1>Matthew T.P. Solomon</h1></a>
                    <p>ID : 1906308500</p>
                </div>
            </div>
            <div class="imagur">
                <img src="https://instagram.fcgk23-1.fna.fbcdn.net/v/t51.2885-19/s320x320/120001061_126666902188771_1503669047854425620_n.jpg?_nc_ht=instagram.fcgk23-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=kQCOmgTn6WYAX-_hiW5&oh=99f1519b13a135c89dca6c8df626cd14&oe=5F93950E" alt="No pic">
            </div>
            <div class="listur">
                <ul id="navbar">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#experiences">Experiences</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div id="about">
        </div>

        <div id="experiences">
        </div>

        <div id="contact">
        </div>

    </body>
</html>