* {
    margin: 0px;
    padding: 0px;
}

li {
    display: inline-block;
    margin-left: 20px;
}

.home {
    display: grid;  
    grid-template-columns: 100px 100px 100px;  
    grid-template-rows: 50px 50px;  
}